
body{
    background-color: #ccc;
    padding: 0;
    margin: 0;
}
h1{
    font-size: 28px;
}
 
section{
    margin-left: 20px;
}
header>p{
    font-style: italic;
}
article>p{
    font-size: 24px;
}
body>header{
    margin-left: auto;
    margin-right: auto;
    width: 8em
}