body{
     font-family:  Helvetica;
     margin: auto;
     
}
nav ul{
    background-color: #234465;
    padding: 5ex;
    margin:0;
    text-align: center;

}
nav  li{
 padding: 0 20px;
 display: inline-block;
 margin: 0 auto;
}
nav  li a{
    color: white;
    text-decoration:none;
    padding: 15;
    margin: 1ex;
     
}
footer{
    background-color:#234465 ;
    position:absolute;
    bottom:0;
    width:100%;
   

    
}
footer>p{
    color: white ;
    text-align: center;
}

body>header{
    text-align: center;

}